.btn{
    margin: 10px;
    height: 40px;
    width: 200px;
    color: white;
    background-image: radial-gradient(rgb(75, 75, 75),rgb(32, 32, 32));
}

.btn:hover{
    background-image: radial-gradient(rgb(85, 85, 85),rgb(48, 48, 48));
}