* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f9f9f9;
}

/* --------------------------------------------------------------------------------------------- */
/* NAVBAR */

a{
    text-decoration: none ;
}
.nav {
    background-image: radial-gradient(rgb(37, 37, 37),rgb(29, 29, 29));
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/*Brand*/
.logoYtitulo{
    margin: 10px;
    display: flex;
    align-items: center;
}
.titulo{
    margin: 10px;
    width: 200px;
    color: white;
}

.logo{
    width: 100px;
    border-radius: 10px;
}

/* Botones */
.btn-container{
    display: flex;
}

.btn{
    list-style: none;
    margin: 10px;
    padding: 10px;
    height: 40px;
    color: white;
}

.btn a{
    color: white;
    padding: 10px;
}

.btn:hover{
    background-image: radial-gradient(rgb(85, 85, 85),rgb(48, 48, 48));
}

.active{ 
    color: white;
    background-image: radial-gradient(red,black);
}/* Modificar los valores  */

/* CartWidget */
.logoYnot{
    display: flex;
    align-items: center;
}

.notification{
    margin-right: 20px;
    padding: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(177, 5, 5), rgb(112, 0, 0));
    color: white;
}


/* --------------------------------------------------------------------------------------------- */
/* MAIN */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    min-height: 50vh;
}

main {
    min-height: 80vh;
    margin: 20px;
}

.itemList {
    width: 1024px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.item {
    position: relative;
    margin: 40px 22px 16px 22px;
    border-radius: 8px;
    padding: 6px;
}

.cardData {
    border-top: 4px solid #800101;
    display: flex;
    flex-direction: column;
    /* gap: 4px; */
}

.cardData h2 {
    font-size: 25px;
}

.cardPrecio {
    display: flex;
    align-items: center;
}

/* .info-price h5 {
    font-size: 10px;
    text-decoration: line-through;
    margin-left: 10px;
    background-color: #007894;
    padding: 4px;
    border-radius: 8px;
    color: white;
} */

/* .info-price h3 {
    font-size: 16px;
} */

.item img {
    border-radius: 8px;
}

.item:hover {
    box-shadow: 3px 3px 1px 1px #800101;
}

/* ------------------------------------------------------------------------ */
/* DETAIL */

.containerDetail {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.containerDetail img {
    width: 500px;
    border-radius: 5px;
}

.containerDetail article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.containerDetail article h2 {
    font-size: 25px;
    font-weight: 300;
}

.containerDetail article h4 {
    font-size: 12px;
    font-weight: 400;
    background-color: #007894;
    color: white;
    border-radius: 8px;
    padding: 6px;
    display: inline-block;
    text-align: center;
    width: 70px;
}

.containerDetail article .info-span {
    color: rgb(119, 119, 119);
    font-size: 12px;
    margin-left: 0px;
}

.containerDetail article .cuotas {
    color: rgb(119, 119, 119);
    font-size: 14px;
    font-weight: 400;
}

.containerDetail article .cuotas strong {
    color: black;
    font-weight: 600;
}

.containerDetail article section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.containerDetail article section h3 {
    font-size: 35px;
    font-weight: 300;
}

.containerDetail article section h5 {
    color: rgba(252, 102, 102, 0.717);
    text-decoration: line-through;
    font-size: 12px;
}

.containerDetail article .metodos-pagos {
    border: 2px solid #007894;
    border-radius: 8px;
    padding: 6px 12px;
    background-color: white;
    font-size: 12px;
    color: #007894;
    font-weight: 600;
}

/* CONTADOR */
.container-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    gap: 10px;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.counter button {
    background-color: #007894;
    border: none;
    padding: 4px 6px;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.add-to-cart {
    background-color: #007894;
    border: none;
    padding: 6px 8px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}