* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: radial-gradient(rgb(37, 37, 37), rgb(12, 12, 12));
}
a{
    text-decoration: none ;
}

.nav {
    background-image: radial-gradient(rgb(37, 37, 37),rgb(29, 29, 29));
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logoYtitulo{
    margin: 10px;
    display: flex;
    align-items: center;
}

.logoYtitulo:hover{
    background-image: radial-gradient(rgb(85, 85, 85),rgb(48, 48, 48));
    border-radius: 10px;
}
.titulo{
    margin: 10px;
    width: 200px;
    color: white;
}
.logo{
    width: 100px;
    border-radius: 10px;
}

.btn-container{
    display: flex;
}

.btn{
    list-style: none;
    margin: 10px;
    padding: 10px;
    height: 40px;
    font-size: 18px;
}

.btn a{
    color: white;
}

.btn:hover{
    background-image: radial-gradient(rgb(85, 85, 85),rgb(48, 48, 48));
    border-radius: 10px;
}

.active{ 
    text-decoration: overline #800101 3px;
}

.logoYnot{
    display: flex;
    align-items: center;
}

.logoYnot:hover{
    background-image: radial-gradient(rgb(85, 85, 85),rgb(48, 48, 48));
    height: 60px;
    border-radius: 60px;
}

.notification{
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(177, 5, 5), rgb(112, 0, 0));
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bienvenida{
    color: white;
    font-size: 50px;
    text-shadow: rgb(49, 0, 0) 3px 3px;
    margin: 50px;
}

.itemList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.item {
    margin: 30px;
    border-radius: 10px;
    padding: 6px;
    background-image: radial-gradient(rgb(148, 148, 148),rgb(97, 97, 97));
}

.cardData {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardData h2 {
    font-size: 25px;
    margin: 10px;
}
.cardPrecio {
    margin: 18px;
    font-size: 20px;
} 

.cardData a{
    background-image: radial-gradient(rgb(129, 0, 0), rgb(56, 1, 1));
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px; 
    color: white;  
}

.cardData a:hover{
    background-image: radial-gradient(rgb(156, 0, 0), rgb(94, 0, 0));  
}


.item img {
    border-radius: 8px;
    padding: 5px;
}

.item:hover {
    box-shadow: 3px 3px 1px 1px #800101;
}

.containerDetail {
    display: flex;
    gap: 10px;
    margin: 50px;
    align-items: flex-start;
    justify-content: space-evenly;
}

.containerDetail img {
    width: 400px;
    border-radius: 10px;
}

.containerDetail img:hover {
    box-shadow: 3px 3px 1px 1px #800101;
}

.containerDetail article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin-top: 70px;
}

.containerDetail article h2 {
    color: white;
    font-size: 25px;
    font-weight: 300;
    padding: 10px;
}

.containerDetail article section h3 {
    color: white;
    font-size: 35px;
    font-weight: 300;
    padding: 10px;
}

.containerDetail article section p{
    color: white;
    margin: 10px;
}

.container-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    gap: 10px;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.counter p{
    color: white;
}

.counter button {
    background-image: radial-gradient(rgb(129, 0, 0), rgb(56, 1, 1));
    border: none;
    padding: 4px 6px;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.counter button:hover{
    background-image: radial-gradient(rgb(156, 0, 0), rgb(94, 0, 0));
}

.add-to-cart {
    background-image: radial-gradient(rgb(129, 0, 0), rgb(56, 1, 1));
    border: none;
    padding: 6px 8px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.add-to-cart:hover {
    background-image: radial-gradient(rgb(156, 0, 0), rgb(94, 0, 0));
}

.productos{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.productoCarrito{
    display: flex;
    margin: 10px;
}

.imgProd{
    width: 150px;
    margin-right: 20px;
    border-radius: 10px;
    border: 2px rgb(156, 0, 0) solid
}

.nombreYCantidad{
    color: white;
}

.precioCart{
    color:white;
}

.botonBorrar{
    height: 30px;
}

.lblTotal{
    color: white;
}